<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#myPage">Mess-Portal</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="#myPage">HOME</a></li>
        <li><a href="#mess">MESS</a></li>
        <li><a href="#gallery">GALLERY</a></li>
        <li><a href="#contact">CONTACT</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="btn" style="background: black;" data-toggle="modal" data-target="#myLogin"><span class="glyphicon glyphicon-log-in"></span>LOGIN</a></li>
        <li><a class="btn" style="background: black;" data-toggle="modal" data-target="#myRegister">REGISTER</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/static/images/paper-dosa.jpg" alt="Image of doas">
        <div class="carousel-caption">
          <h3>Dosa</h3>
        </div>
      </div>

      <div class="item">
        <img src="/static/images/idli5.jpg" alt="Image of idli">
        <div class="carousel-caption">
          <h3>Idli</h3>
        </div>
      </div>

      <div class="item">
        <img src="/static/images/chicken-biryani-500x500.jpg" alt="Image of biriyani">
        <div class="carousel-caption">
          <h3>biriyani</h3>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

<div id="mess" class="container-fluid text-center mess-profile bg-1">
  <h1>MESS</h1>
  <div class="row">
    <div class="col-sm-3">
      <p><strong>SOUTH</strong></p><br>
      <img src="static/images/mess/SOUTH.JPG" class="img-circle person" alt="South">
    </div>
    <div class="col-sm-3">
      <p><strong>NBH</strong></p><br>
      <img src="static/images/mess/NBH.JPG" class="img-circle person" alt="NBH">
    </div>
    <div class="col-sm-3">
      <p><strong>NORTH</strong></p><br>
      <img src="static/images/mess/NORTH.JPG" class="img-circle person" alt="NORTH">
    </div>
    <div class="col-sm-3">
      <p><strong>YUKTAHAR</strong></p><br>
      <img src="static/images/mess/YUKTAHAR.JPG" class="img-circle person" alt="YUKTAHAR">
    </div>
  </div>
</div>

<div id="gallery" class="bg-2">
  <div class="container">
    <h1 class="text-center">Gallery</h1>
    <div class="row text-center">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="static/images/gallery/1.JPG" alt="students">
          <p><strong>Students</strong></p>
          <p>Fri. 27 November 2015</p>
          <a href="static/images/gallery/1.JPG" target="_blank"><button class="btn">View</button></a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="static/images/gallery/2.JPG" alt="students">
          <p><strong>Students</strong></p>
          <p>Fri. 27 November 2015</p>
          <a href="static/images/gallery/2.JPG" target="_blank"><button class="btn">View</button></a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="static/images/gallery/3.JPG" alt="students">
          <p><strong>Students</strong></p>
          <p>Fri. 27 November 2015</p>
          <a href="static/images/gallery/3.JPG" target="_blank"><button class="btn">View</button></a>
        </div>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="static/images/gallery/4.JPG" alt="students">
          <p><strong>Students</strong></p>
          <p>Fri. 27 November 2015</p>
          <a href="static/images/gallery/4.JPG" target="_blank"><button class="btn">View</button></a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="static/images/gallery/5.JPG" alt="students">
          <p><strong>Students</strong></p>
          <p>Fri. 27 November 2015</p>
          <a href="static/images/gallery/5.JPG" target="_blank"><button class="btn">View</button></a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="static/images/gallery/6.JPG" alt="students">
          <p><strong>Students</strong></p>
          <p>Fri. 27 November 2015</p>
          <a href="static/images/gallery/6.JPG" target="_blank"><button class="btn">View</button></a>
        </div>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="static/images/gallery/7.JPG" alt="students">
          <p><strong>Students</strong></p>
          <p>Fri. 27 November 2015</p>
          <a href="static/images/gallery/7.JPG" target="_blank"><button class="btn">View</button></a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="static/images/gallery/8.JPG" alt="students">
          <p><strong>Students</strong></p>
          <p>Fri. 27 November 2015</p>
          <a href="static/images/gallery/8.JPG" target="_blank"><button class="btn">View</button></a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="static/images/gallery/9.JPG" alt="students">
          <p><strong>Students</strong></p>
          <p>Fri. 27 November 2015</p>
          <a href="static/images/gallery/9.JPG" target="_blank"><button class="btn">View</button></a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myLogin" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4><span class="glyphicon glyphicon-log-in"></span> Login</h4>
      </div>
      <div id="login-form" class="modal-body">
        <form role="form" action="/api/login" method="POST">
          <div id="login-form-message">
          </div>
          <div class="form-group">
            <label for="usrname"><span class="glyphicon glyphicon-user"></span>Email</label>
            <input type="email" class="form-control" id="usrname" name="email" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="passwd"><span class="glyphicon glyphicon-keyboard"></span>Password</label>
            <input type="password" class="form-control" id="passwd" name="password" placeholder="Enter password">
          </div>
          <button type="submit" class="btn btn-block">Submit
            <span class="glyphicon glyphicon-log-in"></span>
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" id="form-submit-button" class="btn btn-danger btn-default pull-right" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove"></span> Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myRegister" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4>REGISTER</h4>
      </div>
      <div id="register-form" class="modal-body">
        <form role="form" action="/api/register" method="POST">
          <div id="register-form-message">
          </div>
          <div class="form-group">
            <label for="usrname">Name</label>
            <input type="text" class="form-control" id="usrname" name="name" placeholder="Enter name">
          </div>
          <div class="form-group">
            <label for="email"><span class="glyphicon glyphicon-user"></span>Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="rolno">Roll No</label>
            <input type="number" class="form-control" id="rolno" name="rollno" placeholder="Enter rollno">
          </div>
          <div class="form-group">
            <label for="passwd"><span class="glyphicon glyphicon-keyboard"></span>Password</label>
            <input type="password" class="form-control" id="passwd" name="password" placeholder="Enter password">
          </div>
          <button type="submit" class="btn btn-block">Submit
            <span class="glyphicon glyphicon-log-in"></span>
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-danger btn-default pull-right" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove"></span> Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

  // Make sure this.hash has a value before overriding default behavior
  if (this.hash !== "") {

    // Prevent default anchor click behavior
    event.preventDefault();

    // Store hash
    var hash = this.hash;

    // Using jQuery's animate() method to add smooth page scroll
    // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
    $('html, body').animate({
      scrollTop: $(hash).offset().top
    }, 900, function(){

      // Add hash (#) to URL when done scrolling (default click behavior)
      window.location.hash = hash;
      });
    } // End if
  });
})
</script>
