<!DOCTYPE html>
<html lang="en">
<head>
    <title>MESS-PORTAL</title>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="/static/css/vendor/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link  rel="stylesheet" href="/static/css/home_style.css">
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
    <div class="fixed text-center" id="message-container">
    </div>
    <div class="container-fluid" id="content">
    </div>

    <!-- <script src="/static/js/vendor/jquery.min.js"></script> -->
    <!-- <script src="/static/js/vendor/bootstrap.min.js"></script> -->
    <script src="/static/js/vendor/page.js"></script>
    <script src="/static/js/vendor/handlebars.min.js"></script>

    <script src="/static/js/helpers.js"></script>
    <script src="/static/js/view-manager.js"></script>
    <script src="/static/js/auth-manager.js"></script>
    <script src="/static/js/todo.js"></script>
    <script src="/static/js/student-manager.js"></script>
    <script src="/static/js/admin-manager.js"></script>
    <script src="/static/js/routes.js"></script>
    <script src="/static/js/app.js"></script>
</body>
</html>
